.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .particles-bg canvas {
  background: linear-gradient(31deg, rgba(205,168,1,1) 0%, rgba(254,214,32,1) 35%, rgba(224,255,0,1) 100%);
} */

.gradient-bg {
  background: linear-gradient(135deg, #1e3a8a, #ff5722); /* Your gradient */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.particles-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1; /* Particles should be above the gradient */
}

